<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.2</string>
		<string>Aacute.2</string>
		<string>Abreve.2</string>
		<string>Acircumflex.2</string>
		<string>Adieresis.2</string>
		<string>Agrave.2</string>
		<string>Amacron.2</string>
		<string>Aogonek.2</string>
		<string>Aring.2</string>
		<string>Atilde.2</string>
		<string>M.5</string>
		<string>uni0410</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>eight.OP</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>public.kern1.C.2</key>
	<array>
		<string>C.2</string>
		<string>Cacute.2</string>
		<string>Ccedilla.2</string>
		<string>Ccircumflex.2</string>
		<string>Cdotaccent.2</string>
		<string>uni0421.2</string>
	</array>
	<key>public.kern1.De</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
		<string>uni0429.2</string>
		<string>uni0429.3</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
		<string>AE.2</string>
		<string>uni0415</string>
		<string>uni0401</string>
	</array>
	<key>public.kern1.Ecy.2</key>
	<array>
		<string>uni0404.3</string>
	</array>
	<key>public.kern1.Eth</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>uni0412</string>
		<string>uni0417</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>zero</string>
		<string>zero.slash</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.Ge</key>
	<array>
		<string>uni0413</string>
		<string>uni0490</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni042B</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni042F</string>
		<string>uni0418.2</string>
		<string>uni0418.3</string>
		<string>uni0419.2</string>
		<string>uni0419.3</string>
		<string>uni041C.2</string>
		<string>uni041C.3</string>
		<string>uni041C.4</string>
		<string>uni0428.2</string>
		<string>uni0428.3</string>
		<string>uni042F.2</string>
		<string>uni04180419</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
		<string>uni0416</string>
		<string>uni041A</string>
		<string>uni041A.2</string>
	</array>
	<key>public.kern1.K.2</key>
	<array>
		<string>K.2</string>
		<string>uni0416.2</string>
	</array>
	<key>public.kern1.Kk</key>
	<array>
		<string>uni0416.3</string>
		<string>uni041A.3</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>uni013B</string>
	</array>
	<key>public.kern1.Lcaron</key>
	<array>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.Ldot</key>
	<array>
		<string>Ldot</string>
	</array>
	<key>public.kern1.Lslash</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>uni0420</string>
		<string>uni20BD</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
	</array>
	<key>public.kern1.S.2</key>
	<array>
		<string>S.2</string>
		<string>Sacute.2</string>
		<string>Scaron.2</string>
		<string>Scedilla.2</string>
		<string>Scircumflex.2</string>
	</array>
	<key>public.kern1.Scaron</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
	</array>
	<key>public.kern1.Soft</key>
	<array>
		<string>uni042C</string>
		<string>uni042A</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>Tcaron</string>
		<string>uni0422</string>
		<string>uni20B8</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.2</string>
		<string>Wacute.2</string>
		<string>Wcircumflex.2</string>
		<string>Wdieresis.2</string>
		<string>Wgrave.2</string>
		<string>uni0429.4</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>uni0425</string>
	</array>
	<key>public.kern1.Yacute</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern1.Zcaron</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.2</string>
		<string>Zacute.2</string>
		<string>Zcaron.2</string>
		<string>Zdotaccent.2</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0430</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni0444.2</string>
		<string>zero.OP</string>
		<string>zero.slash.OP</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.braceleft.cap</key>
	<array>
		<string>braceleft.cap</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>public.kern1.de</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni0449.2</string>
		<string>uni0449.3</string>
	</array>
	<key>public.kern1.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.ge</key>
	<array>
		<string>uni0433</string>
		<string>uni0491</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.guillemotleft.cap</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
	</array>
	<key>public.kern1.guilsinglleft.cap</key>
	<array>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>public.kern1.h</key>
	<array>
		<string>h</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>m.2</string>
		<string>m.3</string>
		<string>m.4</string>
		<string>n.2</string>
		<string>n.3</string>
		<string>n.4</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.ii</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
		<string>uni043A</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>uni2116</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
	</array>
	<key>public.kern1.r.2</key>
	<array>
		<string>r.2</string>
		<string>racute.2</string>
	</array>
	<key>public.kern1.s.2</key>
	<array>
		<string>s.2</string>
		<string>sacute.2</string>
		<string>scaron.2</string>
		<string>scedilla.2</string>
		<string>scircumflex.2</string>
	</array>
	<key>public.kern1.scaron</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
	</array>
	<key>public.kern1.sha4</key>
	<array>
		<string>uni0449.4</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.soft</key>
	<array>
		<string>uni044C</string>
		<string>uni044A</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern1.thorn</key>
	<array>
		<string>thorn</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni044B</string>
		<string>uni044F</string>
		<string>uni0438.2</string>
		<string>uni0438.3</string>
		<string>uni0439.2</string>
		<string>uni0439.3</string>
		<string>uni043C.2</string>
		<string>uni043C.3</string>
		<string>uni0448.2</string>
		<string>uni0448.3</string>
		<string>uni04380439</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>uni0448.4</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
		<string>uni0436</string>
		<string>uni0445</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>uni0443</string>
	</array>
	<key>public.kern1.yacute</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern1.zcaron</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>z.2</string>
		<string>zacute.2</string>
		<string>zcaron.2</string>
		<string>zdotaccent.2</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>A.2</string>
		<string>Aacute.2</string>
		<string>Abreve.2</string>
		<string>Acircumflex.2</string>
		<string>Adieresis.2</string>
		<string>Agrave.2</string>
		<string>Amacron.2</string>
		<string>Aogonek.2</string>
		<string>Aring.2</string>
		<string>Atilde.2</string>
		<string>AE.2</string>
		<string>M.5</string>
		<string>uni0410</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>Q.2</string>
	</array>
	<key>public.kern2.C.2</key>
	<array>
		<string>C.2</string>
		<string>Cacute.2</string>
		<string>Ccedilla.2</string>
		<string>Ccircumflex.2</string>
		<string>Cdotaccent.2</string>
		<string>uni0421.2</string>
		<string>uni0404.3</string>
	</array>
	<key>public.kern2.De</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>uni0411</string>
		<string>uni0413</string>
		<string>uni0490</string>
		<string>uni0415</string>
		<string>uni0401</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni042E</string>
		<string>uni0418.2</string>
		<string>uni0418.3</string>
		<string>uni0419.2</string>
		<string>uni0419.3</string>
		<string>uni041A.2</string>
		<string>uni041A.3</string>
		<string>uni041C.2</string>
		<string>uni041C.3</string>
		<string>uni041C.4</string>
		<string>uni0428.2</string>
		<string>uni0428.3</string>
		<string>uni0429.2</string>
		<string>uni0429.3</string>
		<string>uni04180419</string>
		<string>uni20BD</string>
		<string>uni2116</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>uni0417</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>zero</string>
		<string>zero.slash</string>
	</array>
	<key>public.kern2.S.2</key>
	<array>
		<string>S.2</string>
		<string>Sacute.2</string>
		<string>Scaron.2</string>
		<string>Scedilla.2</string>
		<string>Scircumflex.2</string>
	</array>
	<key>public.kern2.Scaron</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0422</string>
		<string>uni20B8</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.2</string>
		<string>Wacute.2</string>
		<string>Wcircumflex.2</string>
		<string>Wdieresis.2</string>
		<string>Wgrave.2</string>
		<string>uni0429.4</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>uni0416</string>
		<string>uni0425</string>
		<string>uni0416.2</string>
	</array>
	<key>public.kern2.Yacute</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2.Zcaron</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Z.2</string>
		<string>Zacute.2</string>
		<string>Zcaron.2</string>
		<string>Zdotaccent.2</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>uni0430</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0444.2</string>
		<string>zero.OP</string>
		<string>zero.slash.OP</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>f.2</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.guillemotleft.cap</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
	</array>
	<key>public.kern2.guilsinglleft.cap</key>
	<array>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.hyphen.cap</key>
	<array>
		<string>periodcentered.cap</string>
		<string>bullet.cap</string>
		<string>hyphen.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
	</array>
	<key>public.kern2.ii</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>dotlessi</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>m.2</string>
		<string>m.3</string>
		<string>m.4</string>
		<string>n.2</string>
		<string>n.3</string>
		<string>n.4</string>
		<string>r.2</string>
		<string>racute.2</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0491</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni044E</string>
		<string>uni0438.2</string>
		<string>uni0438.3</string>
		<string>uni0439.2</string>
		<string>uni0439.3</string>
		<string>uni043C.2</string>
		<string>uni043C.3</string>
		<string>uni0448.2</string>
		<string>uni0448.3</string>
		<string>uni0449.2</string>
		<string>uni0449.3</string>
		<string>uni04380439</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.s.2</key>
	<array>
		<string>s.2</string>
		<string>sacute.2</string>
		<string>scaron.2</string>
		<string>scedilla.2</string>
		<string>scircumflex.2</string>
	</array>
	<key>public.kern2.scaron</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
	</array>
	<key>public.kern2.sha4</key>
	<array>
		<string>uni0449.4</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>uni0448.4</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>uni0436</string>
		<string>uni0445</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>uni0443</string>
	</array>
	<key>public.kern2.yacute</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.zcaron</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>z.2</string>
		<string>zacute.2</string>
		<string>zcaron.2</string>
		<string>zdotaccent.2</string>
	</array>
</dict>
</plist>
